* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

body {
  background-color: #11fb99;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.header {
  margin-bottom: 30px;
}

.container {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-group input,
select {
  height: 38px;
  padding: 6px 12px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 18px;
}

.form-group.radio-group input {
  width: 24px;
  height: 24px;
}
