* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  color: #333;
}

main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

figure {
  background-color: #eee;
  padding: 10px;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

ul {
  max-width: 550px;
  margin: 0 auto  50px auto;
  text-align: left;
  line-height: 1.6;

  display: block;
  list-style-type: disc;
}

li {
  margin: 16px 0;
  display: list-item;
}

h1 {
  font-size: 64px;
  margin-bottom: 0;
  font-weight: bold;
}

p {
  font-style: italic;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}